# Frontend Environment Variables Template
# Saat local: http://localhost:8000
# Saat deploy di Vercel: isi dengan URL backend production kamu (misal: https://api-pneumoniascan.onrender.com)
REACT_APP_API_URL=http://localhost:8000

